body {
    margin: 0;

    font: 14px / 1.5 'PT Sans', sans-serif;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0 0 20px;
}

p:last-child {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



/* Page
=========================*/

.page {
    min-width: 320px;

    overflow: hidden;
}


/* Container
=========================*/

.container {
    width: 100%;
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Btn
=========================*/

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 41px;
    padding: 0;

    font: 12px / 1 'PT Sans', sans-serif, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    border: 1px solid #e84c3d;
    cursor: pointer;

    transition: background-color .2s linear;
}

.btn:hover {
    background-color: #e84c3d;
}

.btn--intro {
    width: 220px;
    height: 50px;
    margin: 0 auto 20px;

    font-size: 14px;
}

.header.fixed .btn:hover {
    color: #e84c3d;

    background-color: #fff;
}

.header.fixed .btn--header {
    border-color: #fff;
}

.btn--search {
    width: 100%;
    max-width: 140px;
    height: 50px;

    font: 700 14px / 1 'PT Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;

    border: 0;
    background-color: #e84c3d;
    cursor: pointer;

    transition: background-color .2s linear;
}

.btn--search:hover,
.btn--subscribe:hover {
    background-color: #c74235;
}

.btn--plan {
    width: 100%;
    height: 50px;

    border: 0;
    background-color: #2c3039;

    font: 700 14px / 1 'PT Sans', sans-serif;
}

.btn--blog {
    width: 220px;
    height: 50px;
    margin: 0 auto;

    background-color: #2c3039;
    border: 0;

    font: 700 14px / 1 'PT Sans', sans-serif;
}

.btn--subscribe {
    width: 100%;
    max-width: 80px;
    height: 40px;

    border: 0;
    background-color: #e84c3d;

    font: 700 12px / 1 'PT Sans', sans-serif;
}


/* Form
=========================*/

.form {
    display: flex;
    padding: 10px;

    background: linear-gradient(to right, #973b48, #36334e);
}

.form--subscribe {
    width: 100%;
    max-width: 375px;
    padding: 0;

    background: none;
}

.input {
    display: block;

    font: 16px / 1 'PT Sans', sans-serif;
    color: #000;

    background-color: #fff;
    border: 0;
}

.input:focus {
    outline: 0;
}

.input__text {
    width: 100%;
    max-width: 480px;
    height: 50px;
    padding: 22px 13px 17px;
}

.input__text::placeholder {
    color: #8a8a8a;
}

.input__text--subscribe {
    width: 100%;
    max-width: 295px;
    height: 40px;
    padding: 13px 19px 13px;

    border: 2px solid #a8a8a8;
    border-right: 0;
}


/* Intro
=========================*/

.intro {
    height: 580px;

    background: url("../img/header/intro-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    padding-top: 90px;

    border-top: 1px solid #3b373a;
}

.intro__content {
    width: 100%;
    max-width: 745px;
    padding: 0 15px;
    margin: 0 auto;

    color: #fff;
    text-align: center;
}

.intro__title {
    margin-bottom: 18px;

    font: 100 40px / 1.1 'Roboto', sans-serif;
}

.intro__text {
    width: 100%;
    max-width: 480px;
    margin: 0 auto 40px;

    font: 16px / 1.5 'PT Sans', sans-serif;
}

.read__more {
    position: relative;

    font: 12px / 1 'PT Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;

    transition: color .2s linear;
}

.read__more:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;

    background-color: #d2ccce;

    position: absolute;
    left: 0;
    bottom: 0;

    transition: background-color .2s linear;
}




/* Header
=========================*/

.header {
    padding: 30px 0;

    position: relative;
}

.header.fixed {
    width: 100%;
    padding: 15px 0;

    position: fixed;
    z-index: 999;

    background-color: #e84c3d;
}

.header.fixed .logo__icon {
    top: -12px;
}

.header.show {
    background-color: #e84c3d;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
}

.logo__icon {
    position: absolute;
    top: -15px;
    left: 0;
}

.logo__icon img {
    display: block;
}

.logo__title {
    padding-left: 80px;

    font: 700 12px / 1.5 'PT Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.logo__title span {
    color: #e84c3d;
}



/* Nav
=========================*/

.nav {
    font: 12px / 1.5 'PT Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.nav.show {
    display: block;
    width: 100%;
    padding: 20px 0 15px;

    background-color: #e84c3d;
    border-top: 2px solid #fff;
}

.nav.show .nav__list {
    width: fit-content;
    margin-left: auto;
}

.nav__item {
    margin-right: 30px;
}

.nav__list {
    display: flex;
}

.nav__link {
    position: relative;

    transition: color .2s linear;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;

    transition: background-color .3s linear;
}

.nav__link:hover:after {
    background-color: #e84c3d;
}

.header.fixed .nav__link:hover:after {
    background-color: #fff;
}



/* Burger
=========================*/

.burger {
    display: none;
    padding: 10px;

    background: none;
    border: 0;
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.burger__inner {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;

    background-color: #fff;
}

.burger__inner:before,
.burger__inner:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;

    background-color: #fff;
}

.burger__inner:before {
    top: -7px;
}

.burger__inner:after {
    top: 7px;
}



/* Slick slider */

.slick-dots {
    display: flex;
    margin-bottom: -20px;

    position: absolute;
    left: 50%;
    bottom: -30px;

    transform: translateX(-50%);
}

.slick-dots li {
    margin-right: 10px;
}

li.slick-active button {
    background-color: #e84c3d;
}

.slick-dots button {
    width: 20px;
    height: 20px;

    border: 0;
    border-radius: 50%;
    cursor: pointer;

    font-size: 0;

    transition: background-color .2s linear;
}



/* Features
=========================*/

.features {
    padding: 60px 0;

    background-color: #2c3039;
}

.features__header {
    margin-bottom: 60px;
}

.features__title {
    font: 300 40px / 1.1 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

.features__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(258px, 258px));
    grid-gap: 75px;
}

.features__icon {
    position: absolute;
}

.features__icon--3 {
    margin-top: 2px;
}

.features__icon img {
    display: block;
}

.features__content {
    padding-left: 60px;
}

.features__content__title {
    margin-bottom: 3px;

    font: 700 16px / 1.3 'PT Sans', sans-serif;
    color: #fff;
}

.features__text {
    font: 14px / 1.5 'PT Sans', sans-serif;
    color: #98a3a3;
}



/* Features mini
=========================*/

.features__mini {
    background-color: #2b2f37;
}

.features__mini__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11px;
}

.features__mini__item {
    width: 320px;
    padding: 60px 22px;
    text-align: center;

    transition: background-color .2s linear;
}

.features__mini__item:hover {
    background-color: #272b33;
}

.features__logo {
    margin-bottom: 25px;
}

.features__logo--3 {
    margin-bottom: 32px;
}

.features__logo img {
    display: block;
    margin: 0 auto;
}

.features__logo--3 img {
    margin-top: 5px;
}

.features__mini__title {
    margin-bottom: 12px;

    font: 700 18px / 1.3 'Roboto', sans-serif;
    text-transform: uppercase;
}

.features__mini__text {
    margin-bottom: 22px;

    font: 16px / 1.3 'PT Sans', sans-serif;
    color: #6f798c;
}

.read__more--red {
    color: #e84c3d;
}

.read__more--red:hover {
    color: #ff5544;
}

.read__more--red:after {
    background-color: #e84c3d;
}

.read__more--red:hover:after {
    color: #ff5544;
}



/* Search
=========================*/

.search {
    padding: 60px 0;
}

.search__inner {
    width: 100%;
    max-width: 640px;
    margin: 0 auto 50px;

    color: #000;
    text-align: center;
}

.search__title {
    margin-bottom: 16px;

    font: 300 40px / 1.1 'Roboto', sans-serif;
}

.search__text {
    width: 100%;
    max-width: 598px;
    margin: 0 auto 29px;

    font: 16px / 1.3 'PT Sans', sans-serif;
}

.search__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search__block {
    width: 275px;
}

.search__block:last-child {
    margin-right: 0;
}

.search__icon {
    position: absolute;
    margin-top: -5px;
}

.search__icon--2 {
    margin-top: -6px;
}

.search__icon img {
    display: block;
}

.search__block__content {
    padding-left: 55px;
}

.search__block__title {
    margin-bottom: 3px;

    font: 700 14px / 1.3 'PT Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
}

.search__block__text {
    font: 14px / 1.5 'PT Sans', sans-serif;
    color: #848484;
}



/* Plan
=========================*/

.plan {
    padding: 60px 0;
}

.plan__header {
    margin-bottom: 35px;

    color: #000;
    text-align: center;
}

.plan__title {
    margin-bottom: 16px;

    font: 300 40px / 1.1 'Roboto', sans-serif;
}

.plan__text {
    font: 16px / 1.3 'PT Sans', sans-serif;
}

.plan__content {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.plan__help {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;

    font: 16px / 1.3 'PT Sans', sans-serif;
    color: #000;
    text-align: center;
}

.plan__help a {
    position: relative;

    color: #e74c3c;
}

.plan__help a:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;

    transition: background-color .3s linear;
}

.plan__help a:hover:after {
    background-color: #e74c3c;
}



/* Choice
=========================*/

.choice__title {
    margin-bottom: 5px;

    font: 700 18px / 1.1 'Roboto', sans-serif;
    color: #2c3039;
    text-transform: uppercase;
}

.choice__text {
    font: 14px / 1.3 'PT Sans', sans-serif;
    color: #2c3039;
}

.choice__item {
    width: 100%;
    max-width: 260px;

    text-align: center;
}

.choice__item--large {
    width: 100%;
    max-width: 300px;
}

.choice__item:hover .choice__header {
    background-color: #e84c3d;
}

.choice__item:hover .choice__wrap {
    border-color: transparent;
}

.choice__item:hover {
    border-color: transparent;
    background-color: #2c3039;
}

.choice__item:hover .btn--plan {
    background-color: #e84c3d;
}

.choice__item:hover .choice__title,
.choice__item:hover .choice__text,
.choice__item:hover .choice__cost,
.choice__item:hover .choice__feature,
.choice__item:hover .choice__feature span {
    color: #fff;
}

.choice__header {
    padding: 25px 20px 0;

    border: 1px solid #bebebe;
    border-right: 0;
    border-bottom: 0;
}

.choice__item:last-child .choice__header {
    border-right: 1px solid #bebebe;
}

.choice__wrap {
    padding-bottom: 20px;

    border-bottom: 1px solid #ccc;
}

.choice__content {
    padding: 27px 0;

    border: 1px solid #bebebe;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

.choice__item:last-child .choice__content {
    border-right: 1px solid #bebebe;
}

.choice__cost {
    margin-bottom: 22px;

    font: 700 50px / 1 'Roboto', sans-serif;
    color: #000;
}

.choice__cost span {
    position: relative;
}

.choice__cost span:before,
.choice__cost span:after {
    display: block;

    position: absolute;
}


.choice__cost span:before {
    content: "$";

    font-size: 25px;

    top: 13px;
    left: -15px;
}

.choice__cost span:after {
    content: "/ MO";

    font-size: 12px;

    bottom: 10px;
    right: -25px;
}

.choice__feature {
    margin-bottom: 10px;

    font: 14px / 1.3 'PT Sans', sans-serif;
    color: #5e5e5e;
}

.choice__feature:last-child {
    margin-bottom: 0;
}

.choice__feature span {
    font-weight: 700;
    color: #2c3039;
}

.choice__footer {
    padding: 0 20px 20px;

    border: 1px solid #bebebe;
    border-top: 0;
    border-right: 0;
}

.choice__item:last-child .choice__footer {
    border-right: 1px solid #bebebe;
}



/* Testimonials
=========================*/

.testimonials {
    padding: 20px 0 80px;

    color: #000;
    text-align: center;
}

.testimonials__header {
    margin-bottom: 45px;
}

.testimonials__title {
    margin-bottom: 16px;

    font: 300 40px / 1.1 'Roboto', sans-serif;
}

.testimonials__text {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;

    font: 16px / 1.5 'PT Sans', sans-serif;
}

.testimonials__text--testimonial {
    margin-bottom: 20px;
}

.testimonials__img {
    margin-bottom: 32px;
}

.testimonials__img img,
.testimonials__photo img {
    display: block;
    margin: 0 auto;
}

.testimonials__photo {
    margin-bottom: 25px;
}

.testimonials__author {
    font: 12px / 1.3 'PT Sans', sans-serif;
    color: #5e5e5e;
}



/* Blog
=========================*/

.blog {
    width: 100%;
    max-width: 760px;
    padding: 20px 0 60px;
    margin: 0 auto;

    color: #000;
}

.blog__header {
    margin-bottom: 60px;
}

.blog__title {
    font: 300 40px / 1.1 'Roboto', sans-serif;
    text-align: center;
}

.blog__content {
    margin-bottom: 55px;
}

.blog__item {
    margin-bottom: 36px;
}

.blog__item:last-child {
    margin-bottom: 0;
}



/* Article
=========================*/

.article__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__item {
    margin-right: 52px;
}

.article__item:last-child {
    margin-right: 0;
}

.article__item--content {
    width: 100%;
    max-width: 487px;
}

.article__title {
    margin-bottom: 13px;

    font: 18px / 1.2 'Roboto', sans-serif;
}

.article__title a {
    position: relative;
}

.article__title a:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;

    transition: background-color .3s linear;
}

.article__title a:hover:after {
    background-color: #e74c3c;
}

.article__info {
    display: flex;
    margin-bottom: 13px;

    font: 12px / 1 'PT Sans', sans-serif;
}

.article__date {
    margin-right: 30px;

    color: #5e5e5e;
}

.article__photo img {
    display: block;
}

.comment__count {
    margin-right: 20px;
}

.likes {
    position: relative;
}

.likes__content {
    padding-left: 15px;
}

.like__count {
    font-weight: 700;
}

.likes__img {
    position: absolute;
}

.like__img img {
    display: block;
}

.article__content {
    font: 14px / 1.4 'PT Sans', sans-serif;
}

.article__link {
    color: #e84c3d;
    text-decoration: underline;
}



/* Map
=========================*/

.map {
    width: 100%;
    padding: 175px 0 150px;
    margin: 0 auto;

    color: #000;

    background: url(../img/map/map.jpg) center no-repeat;
    overflow-x: auto;
}

.map__inner {
    width: 100%;
    max-width: 610px;
}

.map__title {
    width: 100%;
    max-width: 328px;
    margin-bottom: 37px;

    font: 300 30px / 1.3 'Roboto', sans-serif;
}

.map__adress {
    margin-bottom: 37px;

    font: 300 16px / 1 'PT Sans', sans-serif;
}

.map__contacts {
    font: 16px / 1.5 'PT Sans', sans-serif;
}

.work__hours {
    font: 12px / 1.5 'PT Sans', sans-serif;
}

.contacts__inner {
    display: flex;
}

.contacts__item {
    margin-right: 40px;
}

.contacts__item:last-child {
    margin-right: 0;
}

.map__contacts a {
    position: relative;
}

.map__contacts a:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;

    transition: background-color .3s linear;
}

.map__contacts a:hover:after {
    background-color: #e74c3c;
}

.map__mail {
    color: #e84c3d;
}

.map__icon img {
    display: block;
}



/* Subscribe
=========================*/

.subscribe {
    color: #fff;

    background-color: #2c3039;
}

.subscribe__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subcribe__wrap {
    display: flex;
    align-items: center;
}

.subscribe__logo {
    width: 100%;
    max-width: 90px;
    margin-right: 70px;

    font: 12px / 1.1 'PT Sans', sans-serif;
    text-transform: uppercase;
}

.subscribe__logo--email {
    width: 100%;
    max-width: 70px;
    margin-right: 20px;
}

.subscribe__email {
    width: 100%;
    max-width: 480px;
    padding-left: 20px;

    border-left: 1px solid #42454d;
}

.subscribe__wrap__email {
    display: flex;
    align-items: center;
    padding: 12px 0;
}


/* Social
=========================*/

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 205px;
}

.social__item {
    width: 22px;
    height: 22px;
}

.social__item--instagram {
    margin-top: 3px;
}

.social__item--twitter {
    margin-top: 3px;
}

.social__icon {
    width: 22px;
    height: 22px;

    cursor: pointer;
    fill: #565961;

    transition: fill .2s linear;
}

.social__icon:hover {
    fill: #e74c3c;
}



/* Footer
=========================*/

.footer {
    padding: 25px 0 18px;

    font: 13px / 1.5 'PT Sans', sans-serif;
    color: #5e5e5e;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
}

.footer__item {
    margin-right: 35px;
}

.footer__item:last-child {
    margin: 0;
}

.footer__item--2 {
    margin-right: 55px;
}

.footer__item--3 {
    margin-right: 72px;
}

.footer__item--4 {
    margin-right: 80px;
}

.footer__title {
    margin-bottom: 17px;

    font: 700 13px / 1.1 'PT Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
}

.footer__list li {
    margin-bottom: 12px;
}

.footer__list li:last-child {
    margin-bottom: 0;
}

.footer__link {
    position: relative;
}

.footer__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;

    transition: background-color .3s linear;
}

.footer__link:hover:after {
    background-color: #e74c3c;
}

.footer__contacts {
    margin-bottom: 20px;
}

.footer__tel__link {
    font: 700 18px / 1.1 'PT Sans', sans-serif;
    color: #2c3039;
}

.footer__email__link {
    font: 14px / 1.1 'PT Sans', sans-serif;
    color: #e84c3d;
}

.copyright {
    font: 12px / 1.5 'PT Sans', sans-serif;
    color: #2c3039;
}



/* Media
=========================*/

@media (max-width: 991px) {

    /* Container */

    .container {
        max-width: 750px;
    }

    /* Nav */

    .nav {
        display: none;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

    .nav__item {
        margin-bottom: 20px;
    }

    .nav__item:last-child {
        margin-bottom: 0;
    }

    /* Intro */

    .intro__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 490px;
        padding-top: 0;
    }

    /* Btn */

    .btn--header {
        display: none;
    }

    /* Header */

    .header.fixed {
        padding: 25px 0;
    }

    /* Burger */

    .burger {
        display: block;
    }

    /* Features-mini */

    .container--features {
        max-width: 991px;
        padding: 0;
    }

    .features__mini__inner {
        justify-content: center;
        margin: 0;
    }

    .features__mini__item {
        width: 100%;
        padding: 30px 15px;
    }

    .features__mini__item:first-child {
        padding-top: 60px;
    }

    .features__mini__item:last-child {
        padding-bottom: 60px;
    }

    .features__logo--3 {
        margin-bottom: 25px;
    }

    .features__logo--3 img {
        margin-top: 0;
    }

    /* Search */

    .search__blocks {
        text-align: center;
    }

    .search__icon {
        position: static;
        margin-bottom: 15px;
    }

    .search__icon img {
        margin: 0 auto;
    }

    .search__block__content {
        padding-left: 0;
        margin: 0 auto;
    }

    .search__block {
        width: 100%;
        margin-bottom: 50px;
    }

    .search__block:last-child {
        margin-bottom: 0;
    }

    /* Features */

    .features__grid {
        justify-content: center;
    }

    /* Subscribe */

    .subscribe {
        padding: 30px 0;
    }

    .subcribe__wrap {
        padding-left: 70px;
        margin: 0 auto;
        flex-direction: column;

        order: 1;
    }

    .subscribe__logo {
        margin: 0 0 15px;
    }

    .subscribe__logo--email {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .subscribe__email {
        padding-left: 0;

        border-left: 0;
    }

    .subscribe__wrap__email {
        padding: 0;
    }

    /* Footer */

    .footer__item {
        margin-bottom: 30px;
    }

    .footer__item--5 {
        width: 100%;
    }

}



@media (max-width: 767px) {

    /* Container */

    .container {
        max-width: 625px;
    }

    /* Plan */

    .plan__content {
        flex-direction: column;
        align-items: center;
    }

    /* Choice */

    .choice__item {
        max-width: 350px;
        margin-bottom: 40px;
    }

    .choice__item:last-child {
        margin-bottom: 0;
    }

    .choice__header,
    .choice__content,
    .choice__footer {
        border-right: 1px solid #ccc;
    }

    /* Subscribe */

    .subscribe__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .subcribe__wrap {
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .subscribe__wrap__email {
        flex-direction: column;
        align-items: flex-start;
    }

    .subscribe__email {
        max-width: 375px;
        margin-bottom: 30px;
    }

    .subscribe__logo--email {
        margin-bottom: 15px;
    }

    /* Footer */

    .footer__item--1,
    .footer__item--2,
    .footer__item--3,
    .footer__item--4 {
        width: 45%;
        margin-right: 0;
    }

}



@media (max-width: 625px) {

    /* Features */

    .features__grid {
        grid-template: none;
        grid-gap: 60px;
    }

    /* Article */

    .article__inner {
        flex-wrap: wrap;
    }

    .article__item {
        max-width: 100%;
        margin-right: 0;
    }

    .article__item:last-child {
        margin-bottom: 0;
    }

    .article__item--content {
        margin-bottom: 20px;

        order: -1;
    }

    /* Blog */

    .blog__header {
        margin-bottom: 50px;
    }

    .blog__item {
        margin-bottom: 50px;
    }


}



@media (max-width: 480px) {

    /* Intro */

    .intro {
        height: 100vh;
    }

    .intro__inner {
        height: calc(100vh - 70px);
    }

    .intro__title {
        margin-bottom: 25px;

        font-size: 35px;
    }

    .intro__text {
        margin-bottom: 35px;
    }

    .logo__title {
        display: none;
    }

    /* Header */

    .header {
        min-height: 70px;
    }

    .header.fixed {
        padding: 0;

        min-height: 50px;
    }

    .header.fixed .logo__icon {
        top: 7px;
    }

    /* Nav */

    .nav.show .nav__item {
        margin-right: 20px;
    }

    /* Features-mini */

    .features__mini__item:first-child {
        padding-top: 50px;
    }

    .features__mini__item:last-child {
        padding-bottom: 50px;
    }

    .features__mini__title {
        font-size: 17px;
    }

    /* Search */

    .search {
        padding: 50px 0;
    }

    .search__title {
        font-size: 35px;
    }

    /* Form */

    .form {
        flex-wrap: wrap;
        padding: 0;

        background-color: #fff;
    }

    .form--subscribe {
        flex-direction: column;
        max-width: 100%;
    }

    .input__text {
        max-width: 100%;

        border: 1px solid #ccc;
        border-bottom: 0;
    }

    .input__text--subscribe {
        max-width: 100%;
        border: 0;
    }

    /* Btn */

    .btn--search {
        max-width: 100%;
    }

    .btn--subscribe {
        max-width: 100%;
    }

    /* Features */

    .features {
        padding: 50px 0;
    }

    .features__header {
        margin-bottom: 50px;
    }

    .features__title {
        font-size: 35px;
    }

    .features__content {
        padding-left: 50px;
    }

    /* Plan */

    .plan {
        padding: 50px 0;
    }

    .plan__title {
        font-size: 35px;
    }

    .plan__content {
        margin-bottom: 35px;
    }

    /* Choice */

    .choice__item {
        max-width: 320px;
    }

    /* Testimonials */

    .testimonials__header {
        margin-bottom: 40px;
    }

    .testimonials__title {
        font-size: 35px;
    }

    /* Blog */

    .blog {
        padding: 20px 0 50px;
    }

    .blog__header {
        margin-bottom: 40px;
    }

    .blog__title {
        font-size: 35px;
    }

    /* Map */

    .map {
        padding: 130px 0 105px;
    }

    .map__title {
        margin-bottom: 27px;
    }

    .contacts__inner {
        flex-direction: column;
    }

    .contacts__item {
        margin: 3px 0 0;
    }

    .map__adress {
        margin-bottom: 27px;
    }

    /* Subscribe */

    .subscribe__email {
        max-width: 100%;
    }

    /* Footer */

    .footer__item {
        width: 50%;
    }

    .footer__item--5 {
        width: 100%;
    }

}



@media (max-width: 400px) {

    /* Footer */

    .footer__item {
        width: 100%;
    }

}



@media (max-width: 330px) {

    /* Intro */

    .intro__title {
        font-size: 31px;
    }

    .intro__text {
        font-size: 15px;
    }

    /* Search */

    .search__title {
        font-size: 32px;
    }

    .search__text {
        font-size: 15px;
    }

    /* Features */

    .features__title {
        font-size: 32px;
    }

    /* Plan */

    .plan__title {
        font-size: 32px;
    }

    .plan__text {
        font-size: 15px;
    }

    .plan__help {
        font-size: 15px;
    }

    /* Testimonials */

    .testimonials__title {
        font-size: 32px;
    }

    .testimonials__text {
        font-size: 15px;
    }

    /* Blog */

    .blog__title {
        font-size: 32px;
    }

    /* Map */

    .map__title {
        font-size: 27px;
    }

}





